div(class= 'site-nav button-primary')
    div(class= 'close-button-div')
        button(class= 'button-primary-outlined close-nav') X
    h3(class= 'cart-header') Категории товара   
    div(id= 'category-list')
    h3(class= 'cart-header') Корзина
    div(id= 'category-nav')
    div(class= 'text-right')
        a(href= '/order' target= '_blank')
            button(class= 'button-primary-outlined') Открыть корзину