.wrap{
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.text-center{
    text-align: center;
}

.card-price{
    font-size: 28px;
    font-weight: bold;
}

.site-header{
    height: auto;
    padding: 20px 0;
}

.card{
    min-height: 560px;
    border: 1px solid #dedede;
}

.card h3{
    min-height: 155px;
}

.card-images{
    display: block;
    margin: 20px auto;
    max-width: 90%;
    max-height: 150px;
}

.card-action{
    list-style: none;
}

.card-action li{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good-page-title{
    margin-bottom: 50px;
}

.site-nav{
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 9;
    padding: 10px;
    transition: all ease .6s;
    color: #fff;
}

.close-button-div{
    text-align: right;

}

.show-nav{
    position: relative;
}

ul.category-list{
    list-style-type: disc;

}

ul.category-list a{
    color: #424242;
}